---
import Main from "@/layouts/Main.astro";

export async function getStaticPaths() {
  const pages = [
    { slug: "", title: "Home", content: "Home page content" },
    { slug: "about", title: "About", content: "About page content" },
    { slug: "contact", title: "Contact", content: "Contact page content" },
    { slug: "projects", title: "Projects", content: "Projects page content" },
    { slug: "blog", title: "Blog", content: "Blog page content" },
  ];

  const paths = pages.map((page) => {
    const slug = page.slug ? page?.slug?.split("/").join("/") : undefined;
    return {
      params: { slug: slug },
      props: page,
    };
  });

  return paths;
}

const props = Astro.props;
---

<Main title={props.title}>
  <div class="min-h-screen justify-center w-full flex flex-col items-center">
    <h1 class="text-9xl uppercase">{props.title}</h1>
    <p>{props.content}</p>
  </div>
</Main>
