---
import Main from "@/layouts/Main.astro";
import { getPagesBySlug } from "../directus";

export async function getStaticPaths() {
  const pages = await getPagesBySlug();
  const paths = pages.map((page) => {
    // @ts-expect-error Typings should include this
    const slug = page.slug ? page?.slug.split("/").join("/") : undefined;
    return {
      params: { slug: slug },
      props: page,
    };
  });

  return paths;
}

const props = Astro.props;
---

<Main title={props.title} description={props.description}>
  <div class="min-h-screen w-full justify-between px-4 flex flex-col">
    <h1 class="text-[14vw] leading-[.8] pt-24 uppercase">{props.title}</h1>
    <p class="text-lg max-w-lg">{props.description}</p>
  </div>
</Main>
