---
import Meta from "@/globals/meta/Meta.astro";

const { title } = Astro.props;
---

<html lang="en">
  <Meta title={title} />
  <body class="relative">
    <!-- <AdminEditor /> -->
    <slot />
  </body>
</html>
