---
import Navigation from "@/globals/Navigation.astro";
import Body from "./Body.astro";
import Footer from "@/globals/Footer.astro";

interface MainProps {
  title?: string;
  description?: string;
}

const { title, description } = Astro.props as MainProps;
---

<Body title={title}>
  <Navigation />
  <div data-barba="wrapper">
    <main data-barba="container" data-barba-namespace={title}>
      <slot />
    </main>
  </div>
  <Footer />
</Body>
