---
import Header from "@/globals/navigation/Header.astro";
import Body from "./Body.astro";
import { tw } from "@/utils/tw";

interface MainProps {
  title?: string;
  description?: string;
  className?: string;
}

const props = Astro.props as MainProps;
---

<Body {...props}>
  <Header />
  <div data-barba="wrapper">
    <main
      class={tw(props.className)}
      data-barba="container"
      data-barba-namespace={props.title}
    >
      <slot />
    </main>
  </div>
</Body>
