---

---

<button class="w-10 h-10 flex items-center justify-center flex-col gap-1">
  <span class="border w-full border-black"></span>
  <span class="border w-3/4 border-black"></span>
  <span class="border w-1/2 border-black"></span>
</button>
<div
  class="fixed min-h-screen w-full bg-black left-[100%] top-0 z-50 overflow-hidden"
>
</div>
